venv/*
venv
.~*
.vscode
.DS_Store
*.pyc
flask
.git
etc/ghostscript
logs/*.log
config.py
file/private/temp/*
file/private/upload/*
file/public/upload/*
!file/private/temp/.dummy
!file/private/upload/.dummy
!file/public/upload/.dummy
!file/build/.dummy
backup/*
!backup/.dummy
etc/purify/source
__pycache__
~$*
