from os import path
from datetime import timedelta, datetime

DEV_MODE = True

# Database
DB_NAME = "db_idayrus_evoting"
DB_PASS = ""
DB_USER = "root"
DB_HOST = "localhost"
DB_AUTH = DB_USER
if DB_PASS:
    DB_AUTH = DB_USER + ":" + DB_PASS

# SQLAlchemy
SQLALCHEMY_DATABASE_URI = f"mysql+pymysql://{DB_AUTH}@{DB_HOST}/{DB_NAME}?charset=utf8mb4"
SQLALCHEMY_ECHO = False
SQLALCHEMY_TRACK_MODIFICATIONS = False

# Mode
if DEV_MODE:
    DEBUG = True
else:
    DEBUG = False

# General
ASSETS_VERSION = "1.1"
PREFERRED_URL_SCHEME = 'https'
THREADS_PER_PAGE = 2
CSRF_ENABLED = True
CSRF_SESSION_KEY = 'odfgoiadsjczxbw453sdv4532343sdv2413333kjdsdnasd'
SECRET_KEY = 'ASiuasdvdnnnnj34sdv534jsdasdvsd123jhasdlkcvbmvdnqweyr'
HUMANIZE_USE_UTC = True
PROXY_LIST = {'127.0.0.1'}

# Locale
ALLOWED_TIMEZONE = [
    ("Asia/Jakarta", "WIB", "UTC+07:00")
]
SUPPORTED_LANGUAGES = {
    'id': 'Bahasa Indonesia'
}
DEFAULT_LOCALE = "en"
DEFAULT_TIMEZONE = "Asia/Jakarta"

# User Security
USER_LOGIN_ERROR_LIMIT = 5 # Login trial
USER_LOGIN_ERROR_INTERVAL = (60) * 5 # 5 minutes
USER_LOGIN_BAN_DURATION = timedelta(seconds=(60) * 5) # Banned for 5 minutes
USER_RECOVERY_EXPIRE = timedelta(hours=3) # Expires in 3 hours
USER_AUTH_STAMP_DURATION = 60 * 60 # seconds

# Username
USERNAME_PATTERN = "^[A-Za-z]+[A-Za-z]+[A-Za-z]+[A-Za-z0-9]+$"
USERNAME_MIN = 4
USERNAME_MAX = 24
USER_PASSWORD_MIN = 6

# Flask Login
REMEMBER_COOKIE_NAME = "_remember"
REMEMBER_COOKIE_DURATION = timedelta(days=30)

# Path
BASE_DIR = path.abspath(path.dirname(__file__))
PUBLIC_DIR = f"{BASE_DIR}/file/public"
PRIVATE_DIR = f"{BASE_DIR}/file/private"
STATIC_DIR = PUBLIC_DIR
MAX_CONTENT_LENGTH = (1024 * 1024) * 15

# Web Info
WEB_INFO = {
    "name": "e-Voting",
    "host": "http://localhost",
    "tagline": "-",
    "datetime": datetime.utcnow(),
    "color": "#1976d2",
}
