{% extends "base.html" %}
{% block head %}{% endblock head %}
{% block body %}
{% from "utils/wtf_field.html" import wtf_input %}
{% from "utils/page_info.html" import page_info %}
<div class="body-card">
	<form method="POST">
		<div class="p-3">
			{% include "utils/flash.html" %}
			{{ form.csrf_token }}
			<div class="row">
				<div class="col-sm-6">
					{{ wtf_input(
							form.id_number,
							form.errors.id_number,
							class_	= "mb-3",
							label	= True
						)
					}}
					{{ wtf_input(
							form.name,
							form.errors.name,
							class_	= "mb-3",
							label	= True
						)
					}}
					{{ wtf_input(
							form.gender,
							form.errors.gender,
							class_	= "mb-3",
							label	= True
						)
					}}
					{{ wtf_input(
							form.birthdate,
							form.errors.birthdate,
							class_	= "mb-3",
							label	= True,
							style	= "position: relative",
							dict_	= {'data-datepicker': 'date'}
						)
					}}
				</div>
				<div class="col-sm-6">
					{{ wtf_input(
							form.contact,
							form.errors.contact,
							class_	= "mb-3",
							label	= True
						)
					}}
					{{ wtf_input(
							form.address,
							form.errors.address,
							class_	= "mb-2",
							label	= True
						)
					}}
				</div>
			</div>
		</div>
		<div class="border-top p-3">
			<button class="btn btn-sm btn-primary" type="submit">Simpan</button>
		</div>
	</form>
</div>
{% endblock body %}
{% block footer %}{% endblock footer %}
