{% extends "box.html" %}
{% block head %}{% endblock head %}
{% block body %}
{% if data.view == 'success' %}
	<div class="text-center">
		<i class="fa fa-check-circle text-success" style="font-size:3rem;"></i>
		<h5 class="text-center mb-1 mt-3">Pendaftaran Berhasil</h5>
		<p class="text-center text-muted mb-4">Kami akan mengirim nomor PIN ke nomor WhatsApp <b>{{ data.contact }}</b> paling lambat 2x24 jam.</p>
		<a href="/" class="btn btn-outline-primary">Kembali</a>
	</div>
{% else %}
	<form id="registerForm" method="POST">
		<h5 class="text-center mb-1 mt-3">{{ config.WEB_INFO.name }}</h5>
		<p class="text-center text-muted mb-4">Silahkan lengkapi data diri anda</p>
		{% include "utils/flash.html" %}
		{% from "utils/wtf_field.html" import wtf_input %}
		{{ form.signature }}
		{{ form.csrf_token }}
		{{ wtf_input(
				form.id_number,
				form.errors.id_number,
				class_	= "mb-3",
				label	= True
			)
		}}
		{{ wtf_input(
				form.name,
				form.errors.name,
				class_	= "mb-3",
				label	= True
			)
		}}
		{{ wtf_input(
				form.gender,
				form.errors.gender,
				class_	= "mb-3",
				label	= True
			)
		}}
		{{ wtf_input(
				form.contact,
				form.errors.contact,
				class_	= "mb-3",
				label	= True
			)
		}}
		<div class="slim-input mb-3">
			<label for="contact" id="label_contact">Tanda Tangan</label>
			<span class="important" data-tooltip="true" data-toggle="tooltip" data-placement="bottom" title="Wajib diisi">*</span>
			<canvas class="canvas border" style="width: 300px;height: 150px;"></canvas>
			<div>
				<a href="#" id="canvasReset" class="text-sm"><i class="fa fa-redo mr-2"></i>Ulangi</a>
			</div>
		</div>
		<div class="mt-4">
			<button id="btnSubmit" class="btn btn-primary btn-block btn-lg" type="button">Daftar Sekarang</button>
		</div>
	</form>
{% endif %}
{% endblock body %}
{% block footer %}
<script type='text/javascript' src='{{ url_for('static', filename='js/signature-pad.umd.js') }}?v={{ config.ASSETS_VERSION }}'></script>
<script type='text/javascript'>
	$(document).ready(function() {
		// Init
		var canvas = document.querySelector("canvas");
		var signaturePad = new SignaturePad(canvas);

		// Save
		$("#btnSubmit").click(function(e) {
			var img_base64 = signaturePad.toDataURL();
			$("#signature").val(img_base64);
			$("#registerForm").submit();
			// Prevent
			e.preventDefault();
			return false;
		});
		$("#canvasReset").click(function(e) {
			// Clears the canvas
			signaturePad.clear();
			e.preventDefault();
			return false;
		});
	});
</script>
{% endblock footer %}